NODE_ENV=development
PORT=4000
DB_URL=postgresql://postgres:postgres@localhost:5433/project_erp
CORS_ORIGIN=http://localhost:3101,http://localhost:3100,https://pictheme.com

# Auth
BETTER_AUTH_SECRET="pictheme-better-auth-secret-32-chars!!"
BETTER_AUTH_URL="http://localhost:4000"
BETTER_AUTH_DOMAIN=".localhost"
